footer {
    margin: 0 50px;
}

footer h3 {
    font-size: 18px;
}

.footer-container {
    background-color: var(--main-bg-color);
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.footer-list {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 15px;
}

@media (max-width: 1024px) {
    .footer-container {
        gap: 30px;
    }
}

@media (max-width: 768px) {
    footer {
        margin: 0;
    }

    .footer-container {
        display: flex;
        flex-direction: column;
        padding: 30px;
        gap: 50px;
    }

    .footer-list {
        padding: 0;
    }
}
