header {
    display: flex;
    height: 79px;
    justify-content: space-between;
    padding: 0 50px;
    align-items: stretch;
}

.header-logo {
    width: 61px;
    height: 19px;
    align-self: center;
}

.menu-container {
    height: 33px;
    display: flex;
    gap: 68px;
}

.menu-link {
    border: none;
    background-color: transparent;
    margin-top: 2px;
    display: flex;
    align-items: end;
}

.menu-link:hover {
    margin-top: 0;
    border-top: 2px solid var(--main-color);
    color: var(--main-color);
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        height: fit-content;
        padding: 0;
    }

    .header-logo {
        padding: 30px;
    }

    .menu-container {
        gap: 0;
    }

    .menu-link {
        margin-top: 0;
        margin-bottom: 2px;
        height: 36px;
        width: 100%;
        align-items: start;
        justify-content: center;
        border-bottom: 2px solid var(--main-bg-color);
    }

    .menu-link:hover {
        margin-bottom: 0;
        border-top: none;
        border-bottom: 2px solid var(--main-color);
    }
}
