@import "header.css";
@import "body/info-group.css";
@import "body/section-group.css";
@import "body/section-activities.css";
@import "footer.css";

/****** General ***********/
* {
    font-family: "Raleway", sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --main-color: #0065fc;
    --main-bg-color: #f2f2f2;
    --filter-bg-color: #deebff;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    min-width: 320px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

main {
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    gap: 35px;
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color);
}

@media (max-width: 768px) {
    main {
        padding: 0;
    }
}
