.info-group-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.headline {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
}

.headline h2 {
    font-size: 22px;
}

.search-bar-form {
    display: flex;
}

.search-bar-form button {
    cursor: pointer;
}

#search-bar-location-button {
    padding: 14px 17px;
    border: 1px solid var(--main-bg-color);
    background-color: var(--main-bg-color);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

#search-bar-location-button i {
    font-size: 18px;
    color: black;
}

.search-bar-form input {
    border: none;
    border-top: 1px solid var(--main-bg-color);
    border-bottom: 1px solid var(--main-bg-color);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    text-align: center;
}

.search-bar-form input,
#search-bar-submit-button {
    max-width: 194px;
    font-size: 18px;
    font-weight: 700;
}

#search-bar-submit-button {
    border: 1px solid var(--main-color);
    background-color: var(--main-color);
    padding: 13px 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    color: white;
}

.filter-bar {
    height: 50px;
    display: flex;
    align-items: stretch;
    gap: 15px;
    font-size: 18px;
    font-weight: 700;
}

.filter-bar p {
    display: flex;
    align-items: center;
}

.filter-button {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 17px;
    font-weight: 700;
    background-color: transparent;
    border: 2px solid var(--main-bg-color);
    border-radius: 25px;
    padding: 4px 17px;
}

.filter-button i {
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22px;
    height: 22px;
}

.filter-button:hover {
    background-color: var(--filter-bg-color);
    cursor: pointer;
}

.info-bar {
    height: 24px;
    gap: 10px;
    display: flex;
    align-items: center;
}

.info-icon-container {
    border: 1px solid var(--main-bg-color);
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
}
